<footer></footer>

<!-- scripts -->
<!-- jquery -->
<script src="{{@BASE}}/ui/js/lib/jquery-3.2.1.min.js" type="text/javascript"></script>
<!-- bootstrap -->
<script src="{{@BASE}}/ui/js/lib/bootstrap.min.js" type="text/javascript"></script>

<!-- app -->
<script src="{{@BASE}}/ui/js/content.js" type="text/javascript"></script>
<script src="{{@BASE}}/ui/js/banner.js" type="text/javascript"></script>
<script src="{{@BASE}}/ui/js/contact-form.js" type="text/javascript"></script>
<!-- captcha -->
<!--<script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit"></script>-->
<script src="https://www.google.com/recaptcha/api.js?onload=setCaptcha&render=explicit"></script>