<!-- top nav bar -->
<div class="nav-wrapper">
    <nav class="navbar navbar-default" id="navmenu-top" data-spy="affix" data-offset-top="170">
        <div class="navbar-header">
            <button type="button" id="navmenu-top-btn" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
                <div id="nav-animated-icon">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ @BASE }}/projects">Projects</a></li>
                <li><a href="{{ @BASE }}/blog">Blog</a></li>
                <li><a href="{{ @BASE }}/about">About</a></li>
                <li><a href="{{ @BASE }}/contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</div>