<!-- sub-heading -->
<h2 class="centre-padding">About</h2>
<p>Who am I?</p>
<hr>

<!-- about -->
<div class="about-container">
    <div class="row">
        <div class="col-md-12">
            <div class="about-img-container">
                <img src="{{ @BASE }}/ui/img/jemgunay.jpg" class="img-responsive img-shadow img-right" alt="profile image of Jem Gunay">
            </div>

            <p>Hey! I’m <b>Jem</b>, a software developer living in central Manchester (UK) currently working at bet365. Day to day, I wield Golang to write highly available, public facing services which drive content to the bet365 site. I also contribute to other backend systems and build pipelines, and have written internal tooling which drives the development process across my team. I’ve also been responsible for guiding both experienced developers and university graduates through the onboarding process, assisting their Golang learning and introduction to bet365 development processes.</p>
            <br>
            <p>I have a fascination for technology, in particular surrounding the fields of backend systems development and programming; I have always been curious as to how things work and how alterations can cause something to function differently than intended. I like to keep up to date on tech news concerning modern technologies, and there are always a number of personal projects in working. I intend to share and archive my best work and creations here!</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <h3 class="centre-padding">My Background</h3>
        </div>
        <div class="col-md-9">
            <p>During the first year of secondary school I began to tinker with code, primarily in Flash AS2/AS3; this curiosity extended to C++ and web languages such as HTML/CSS, JS, PHP and SQL. </p>
            <br>
            <p>I graduated from Keele University with a first class in Computer Science (BSc Hons). In my first year at university I began to explore Java and Python development and became interested in electronics and engineering projects, creating simple ambient lighting and motor based projects with Arduino and Raspberry Pi. I delved into the world of security and penetration testing, and dabbled with machine learning and computer vision technologies.</p>
            <br>
            <p>I also enjoy dabbling in graphic design (Adobe Photoshop/Illustrator, animation) which ties into my casual game development projects. I’m an avid 3D printer too, so am comfortable using CAD and 3D modelling software and physical processes to create fun models and engineering projects.</p>
        </div>
    </div>
</div>