<!-- sub-heading -->
<h2 class="centre-padding">About</h2>
<p>Who am I?</p>
<hr>

<!-- about -->
<div class="about-container">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-9">
            <p>Hey! I’m <b>Jem</b>, a software engineer living in central Manchester (UK) currently employed at bet365 as a Site Reliability Engineer (SRE, DevOps). Day to day, I primarily wield Golang to develop systems to reduce toil, monitor infrastructure and report on service health. In my previous role (Software  Developer in the Systems Sports team), I wrote highly available and scalable Go microservices for driving content to the bet365 site with a strong emphasis on performance-optimising programming.</p>
            
            <br>
            
            <p>I’ve had the opportunity to delve into other exciting and modern technologies such as Apache Kafka, OpenTelemetry, Vue.js and InfluxDB to name a few, and I’m always curious about exploring new tech either at work or in my own time; I usually have several WIP personal software development projects on the go and my favourite completed ones will be showcased on this site. Outside of work, I also love attending music events, bouldering and dabbling with 3D printing. Cheers!</p>
        </div>

        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-0 col-sm-4 col-md-4 col-lg-3">
            <img src="{{ @BASE }}/ui/img/jemgunay.png" class="img-circle" alt="profile image of Jem Gunay">
        </div>
    </div>
</div>