<!-- sub-heading -->
<h2 class="centre-padding">Projects</h2>
<p>A subset collection of my favourite projects.</p>
<hr>
<!-- project tiles -->
<div class="row">
    <!-- left column -->
    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-4">
        <h3 class="centre-padding">liteboard</h3>

        <a href="{{ @BASE }}/blog/post/14">
            <img src="{{ @BASE }}/ui/img/projects_liteboard.jpg" class="img-responsive img-shadow projects-img" style='width:100%;'>
        </a>
        <br><br>

        <p>A flexible, lightweight and open-source course management system developed for courses and schools which do not have access to alternative paid learning tools such as Blackboard.</p>
        <a href="{{ @BASE }}/blog/post/14" class="read-more-anchor"><h4><strong>Read more...</strong></h4></a>
    </div>
    <div class="col-xs-12 visible-xs"><hr></div>

    <!-- middle column -->
    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-4">
        <h3 class="centre-padding">Bottle Classifier</h3>

        <a href="{{ @BASE }}/blog/post/13">
            <img src="{{ @BASE }}/ui/img/projects_bottle_classifier.jpg" class="img-responsive img-shadow projects-img" style='width:100%;'>
        </a>
        <br><br>

        <p>University dissertation project: a computer vision application for classifying beverage bottles and displaying appropriate cocktail recipes which include the classified ingredients.</p>
        <a href="{{ @BASE }}/blog/post/13"><h4><strong>Read more...</strong></h4></a>
    </div>
    <div class="col-xs-12 visible-xs"><hr></div>

    <!-- right column -->
    <div class="col-xs-offset-1 col-sm-offset-0 col-xs-10 col-sm-4">
        <h3 class="centre-padding">Bagel Turret</h3>

        <a href="{{ @BASE }}/blog/post/8">
            <img src="{{ @BASE }}/ui/img/projects_turret.jpg" class="img-responsive img-shadow projects-img" style='width: 100%;'>
        </a>
        <br><br>

        <p>A remote surveillance BB gun turret with remote camera stream and controls built into a web interface. Created with an old Meccano set, Rasperry Pi, Python and various web technologies.</p>
        <a href="{{ @BASE }}/blog/post/8"><h4><strong>Read more...</strong></h4></a>
    </div>
</div>
<br><hr><br>

<div class="col-xs-12 text-center">
    <p>Take a look at my <strong><a href="{{ @BASE }}/blog">blog</a></strong> to see a larger selection of my work.</p>
</div>